// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// 新規投稿
h1 {
  font-family: serif;
}

.cover-new {
  height: 100%;
  width: 100%;
  background-image: url(/assets/new.jpg);
  background-image: image-url('new.jpg');
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  background-size: 100% 100%;
  overflow: auto;
}

.form-label {
  font-size: 20px;
}

.form-group {
  width: 600px;
}

.post-image {
  width: 100%;
}

.errors {
  width: 600px;
}

.errors ul {
  padding: 0;
  text-align: center;
  list-style: none;
}


// 投稿一覧
.cover-index {
  height: 100%;
  width: 100%;
  background-image: url(/assets/index.jpg);
  background-image: image-url('index.jpg');
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  background-size: 100% 100%;
  overflow: auto;
}

.one-post {
  margin: 5px 30px;
}

.caption {
  color: black;
  font-size: 20px;
  text-decoration: none;
  margin: 3px;
}

.caption a {
  color: #fff;
  font-size: 25px;
  font-weight: 200;
}

a:hover {
  text-decoration: none !important;
}

.count {
  display: flex;
  justify-content: right;
}

// 投稿詳細
.cover-show {
  height: 100%;
  width: 100%;
  background-image: url(/assets/show.jpg);
  background-image: image-url('show.jpg');
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  background-size: 100% 100%;
  overflow: auto;
}

.list-group-item {
  width: 380px;
}

#directions-panel {
  max-width: 380px;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
  word-wrap: break-word;
}

.directions-panel-bg {
  background-color: white;
}

.main-slider {
  width: auto;
  max-width: 700px;
}

.thumbnail-slider {
  height: 100px;
  width: auto;
}

.slick-slider {
  margin: 0 auto;
  width: auto;
}

// 天気
.daily-forecasts-container {
  overflow-x: auto;
  white-space: nowrap;
}

.daily-forecast {
  display: inline-block;
  margin-right: 5px;
}

.forecast-entries {
  display: flex;
}

// マップ
#map_index {
  height: 300px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#travel-mode-selector {
  margin-top: 10px;
}

.map-controls {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.reset-button {
  margin-right: 10px;
}

#current-location-button,
#btn-search {
  font-size: 14px;
}

.map-route {
  margin-top: 20px;
  font-size: 16px;
}

.list-group {
  margin-top: 10px;
}

#directions-panel {
  margin-top: 20px;
}

// コメント
// #comment-textarea {
//   resize: none;
//   width: 100%;
// }

.comment-count {
  margin-top: 10px;
  font-size: 16px;
}

.comments-index {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  background-color: #fff;
}

.comment-delete {
  margin-left: auto;
  justify-content: end;
}

// ページネーション
.pagination {
  justify-content: center;
  margin-top: 20px;
}

// 投稿編集
.cover-edit {
  height: 100%;
  width: 100%;
  background-image: url(/assets/edit.jpg);
  background-image: image-url('edit.jpg');
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  background-size: 100% 100%;
  overflow: auto;
}

@media screen and (max-width:575px) {

  // 新規投稿
  .form-group {
    width: 300px;
  }

  .errors {
    width: 300px;
  }
}

// スマホ
@media screen and (max-width: 717px) {

  // // 投稿詳細
  .cover-new,
  .cover-index,
  .cover-show,
  .cover-edit {
    height: calc(100% + 66px);
  }

}