// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// マイページ
.cover-user-show {
  height: 100%;
  width: 100%;
  background-image: url(/assets/mypage.jpg);
  background-image: image-url('mypage.jpg'); 
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  background-size: 100% 100%;
  overflow: auto;

  h4 {
    font-size: 20px;
    border: none;
  }
}

// ユーザー覧
.cover-user-index {
  height: 100%;
  width: 100%;
  background-image: url(/assets/userindex.jpg);
  background-image: image-url('userindex.jpg'); 
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  background-size: 100% 100%;
}

// マイページ編集
.cover-user-edit {
  height: 100%;
  width: 100%;
  background-image: url(/assets/mypageedit.jpg);
  background-image: image-url('mypageedit.jpg'); 
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  background-size: 100% 100%;
}